body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

h1, h2 {
    color: #333;
    input[type="submit"] {
        background-color: #9e4caf;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    input[type="submit"]:hover {
        background-color: #833e8e;
    }input[type="submit"] {
        background-color: #9e4caf;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    input[type="submit"]:hover {
        background-color: #833e8e;
    }
}

form {
    background-color: #fbfbfb;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #9e4caf;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #833e8e;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    color: #333;
}

.navbar {
    background-color: #333333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #8c4caf;
    color: white;
}

.container {
    padding-top: 80px;
}
.user-name {
    color: #333333;
    font-size: 18px;
    text-align: right;
    padding: 10px;
  }
  