body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    text-align: center;
    color: #ffffff;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #7a4c9a;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #6f337a;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  input[type="submit"]:hover {
    background-color: #bea3bc;
  }
  body{
    background : linear-gradient(#390356,#a3adc9);
    height: 100VH;
 
}


