/* Style for expenses table */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  a:hover {
    color: #5a3085;
  }
  /* Style for edit expense form */
form {
    width: 50%;
    margin: 0 auto;
  }
  
  label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="date"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: #5a3085;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color:  #5a3085;
  }
  
  .error {
    color: #5a3085;
    font-weight: bold;
    margin-bottom: 20px;
  }